nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 20px;
  background-image: linear-gradient(15deg, #2a43cd 0%, #5fdacc 100%);
  margin-bottom: 20px;
}

a.home-link {
  color: white
}
