<!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link home-link" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link home-link" href="/projects">Proyects</a>
      </li>

      <li class="nav-item">
        <a class="nav-link home-link" href="/about-us">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link home-link" href="/contact">Contact</a>
      </li>
    </ul>

  </nav>
