
<div class="container">

  <form [formGroup]="employeeForm" class="form-group row">
      <div class="form-group col-md-3">
          <label for="">firstname</label>
          <input required type="text" name="firstname" id="firstname" placeholder="Your firstname" class="form-control"
              formControlName="firstname">
      </div>
      <div class="form-group col-md-3">
          <label for="">lastname</label>
          <input required type="text" name="lastname" id="lastname" placeholder="Your lastname" class="form-control"
              formControlName="lastname">
      </div>
      <div class="form-group col-md-3">
          <label for="">salary</label>
          <input required type="number" name="salary" id="salary" placeholder="Your salary" class="form-control"
              formControlName="salary">
      </div>


    </form>

    <div *ngIf="action === 'u'" class="form-group col-md-4" style="margin-top: 10px">
      <button [disabled]="!employeeForm.valid" type="button" (click)="updateEmployee()" class="btn btn-primary">
        Update
      </button>
    </div>
    <div *ngIf="action === 'd'" class="form-group col-md-4" style="margin-top: 10px">
      <button [disabled]="!employeeForm.valid" type="button" (click)="deleteEmployee()" class="btn btn-danger">
        Delete
      </button>
    </div>


</div>


