<div class="container">

  <form [formGroup]="employeeForm" class="form-group row">
      <div class="form-group col-md-3">
          <label for="">{{'firstname' | titlecase}}</label>
          <input required type="text" name="firstname" id="firstname" placeholder="Firstname" class="form-control"
              formControlName="firstname">
      </div>
      <div class="form-group col-md-3">
          <label for="">{{'lastname' | titlecase}}</label>
          <input required type="text" name="lastname" id="lastname" placeholder="Lastname" class="form-control"
              formControlName="lastname">
      </div>
      <div class="form-group col-md-3">
          <label for="">{{'salary' | titlecase}}</label>
          <input min="1" max="99999" required type="number" name="salary" id="salary" placeholder="Salary" class="form-control"
              formControlName="salary">
      </div>

      <div class="form-group col-md-4" style="margin-top: 10px">
          <button [disabled]="!employeeForm.valid" type="button" (click)="addEmployee()" class="btn btn-success">
              Create Employee
          </button>
      </div>

  </form>


</div>

<hr>
<app-employee *ngFor="let employee of employeeList; let i=index" [employee]="employee" [idx]="i">

</app-employee>
