<div class="container">
  <div class="row">
    <div class="col">
      <div>
        {{idx + 1}}. {{employee.firstname | titlecase}} - {{employee.lastname | titlecase}} - {{employee.salary | currency: 'US'}}
        <a style="margin-left: 10px" class="link-primary" [routerLink]="['/employee-action', idx]"
          [queryParams]="{action: 'u'}">Update</a>
        <a style="margin-left: 10px" class="link-danger" [routerLink]="['/employee-action', idx]"
          [queryParams]="{action: 'd'}">Delete</a>
      </div>
    </div>
    <br><br>
    <app-skills (newSkillEvent)="addSkill($event)"> </app-skills>

    <ul>
      <li *ngFor="let skill of skills">{{skill}}</li>
    </ul>
  </div>
</div>

<button *ngIf="action" type="button" class="btn btn-primary" (click)="goTo('home')" style="margin-top: 10px">
  Go To Home
</button>
