<div id="main">
    <div class="fof">
            <h1>Error 404 - Page Not Found</h1> <br><br>
            <button type="button" class="btn btn-primary" routerLink="/" >
                Go To Home
            </button>
    </div>
</div>
