<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputPassword6" class="col-form-label">Add a new Skill:</label>
  </div>
  <div class="col-auto">
    <input class="form-control" type="text" id="item-input" #newSkill>
  </div>
  <div class="col-auto">
    <button class="btn btn-warning" type="button" (click)="addNewSkill(newSkill.value)">Add Skill</button>
  </div>
</div>

